version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: expense_tracker_mongo
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
